# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd

data_path = "data/supermarket_sales.csv"
supermarket_sales_dataset = pd.read_csv(data_path)
supermarket_sales_dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
supermarket_sales_dataset.groupby("Branch")["gross income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
supermarket_sales_dataset.groupby(["City", "Branch"])["gross income"].sum()

City       Branch
Mandalay   B         5057.0320
Naypyitaw  C         5265.1765
Yangon     A         5057.1605
Name: gross income, dtype: float64

In [5]:
# Calculate total gross income by branch
total_gross_income_by_branch = supermarket_sales_dataset.groupby(['Branch', 'City'])['gross income'].sum()

# Find the branch with the highest gross income
highest_gross_income_branch = total_gross_income_by_branch.idxmax()
highest_gross_income_branch_total = total_gross_income_by_branch.max()

highest_gross_income_branch, highest_gross_income_branch_total

(('C', 'Naypyitaw'), np.float64(5265.1765))

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [6]:
# supermarket_sales_dataset.groupby(["Product line", "City"])["Branch"].count()

invoices_by_category = supermarket_sales_dataset.pivot_table(
    index='Branch',
    columns='Product line',
    values='Invoice ID',
    aggfunc='count',
    fill_value=0
)

invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [7]:
branch_max_electronic = invoices_by_category['Electronic accessories'].idxmax()
max_invoices_electronic = invoices_by_category['Electronic accessories'].max()

branch_max_electronic, max_invoices_electronic

('A', np.int64(60))

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

<h1 style='font-family: Garamond ;'><u>–ì—ñ–ø–æ—Ç–µ–∑–∞ 1</u>: –Ø–∫–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ (<b>Average Order Value</b>, <b>AOV</b>) —Ç–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ —É —á–µ–∫—É (<b>Items per Purchase</b>) –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ (Product Line) —ñ —Ç–∏–ø—ñ–≤ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Customer Type)?</h1>
<hr></hr>

In [8]:
product_metrics = pd.pivot_table(
    supermarket_sales_dataset,
    values=['Total', 'Quantity'],
    index='Product line',
    columns='Customer type',
    aggfunc='mean'
).round(2)

product_metrics

                       Quantity          Total
Customer type            Member Normal  Member  Normal
Product line
Electronic accessories     5.50   5.89  314.08  324.34
Fashion accessories        5.10   5.03  306.09  304.15
Food and beverages         5.38   5.58  333.59  309.84
Health and beauty          5.86   5.39  353.85  295.73
Home and lifestyle         5.90   5.47  337.08  336.15
Sports and travel          5.67   5.41  324.53  340.36

<p style='font-family: Garamond ; font-size: 18px;'>–ú–∞—î–º–æ –Ω–∞—Å—Ç—É–ø–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∑–∞ —Ä–æ–∑–ø–æ–¥—ñ–ª–∞–º–∏ —É –∑–≤–µ–¥–µ–Ω—ñ–π —Ç–∞–±–ª–∏—Ü—ñ:</p>
<ul style='font-family: Garamond ; font-size: 18px;'>
    <li><code>Total</code> = —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –¥–ª—è –∫–æ–∂–Ω–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞.</li>
    <li><code>Quantity</code> = —Å–∫—ñ–ª—å–∫–∏ –æ–¥–∏–Ω–∏—Ü—å —Ç–æ–≤–∞—Ä—É –∫—É–ø—É—é—Ç—å –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É.</li>
</ul>
<ul style='font-family: Garamond ; font-size: 18px;'>–†–æ–∑–≥–ª—è–Ω–µ–º–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—é –≤—ñ–¥ <code>Customer Type</code> Member —É –∫–æ–Ω—Ç–µ–∫—Å—Ç—ñ <code>Quantity</code> —Ç–∞ <code>Total</code>:
    <li>–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π AOV - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Health and Beauty.</li>
    <li>–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π IPP - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Home and Lifestyle, —Ç–∞–∫–æ–∂ –¥—É–∂–µ –±–ª–∏–∑—å–∫–æ Health and Beauty.</li>
</ul>
<ul style='font-family: Garamond ; font-size: 18px;'>–†–æ–∑–≥–ª—è–Ω–µ–º–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—é –≤—ñ–¥ <code>Customer Type</code> Normal —É –∫–æ–Ω—Ç–µ–∫—Å—Ç—ñ <code>Quantity</code> —Ç–∞ <code>Total</code>:
    <li>–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π AOV - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Sports and Travel.</li>
    <li>–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π IPP - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Electronic Accessories.</li>
</ul>
<p style='font-family: Garamond ; font-size: 18px;'>–¶—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –º–∞—é—Ç—å –ø–æ—Ç–µ–Ω—Ü—ñ–∞–ª –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø–∞–∫–µ—Ç–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π (<b>bundle</b>). –í–∞—Ä—Ç—ñ—Å—Ç—å –¥–æ—Å—Ç–∞–≤–∫–∏ –º–æ–∂–µ –±—É—Ç–∏ —Ä–æ–∑—Ä–∞—Ö–æ–≤–∞–Ω–∞ –≥–Ω—É—á–∫–æ –∑–≥—ñ–¥–Ω–æ –∑ —Ç–∏–ø–æ–≤–∏–º –æ–±'—î–º–æ–º –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è, –∞ —Ç–∞–∫–æ–∂ —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –≤—ñ–¥ $340 –±–µ–∑–∫–æ—à—Ç–æ–≤–Ω–∞ –¥–æ—Å—Ç–∞–≤–∫–∞.</p>

<h1 style='font-family: Garamond ;'><u>–ì—ñ–ø–æ—Ç–µ–∑–∞ 2</u>: –Ø–∫–∏–π —Ä—ñ–≤–µ–Ω—å –∞–ø—Å–µ–π–ª—É (<b>Upsell Rate</b>) ‚Äî —Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è —Å—É–º–∏ –ø–æ–¥–∞—Ç–∫—É (<code>Tax 5%</code>) –¥–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –æ–¥–∏–Ω–∏—Ü—å —Ç–æ–≤–∞—Ä—É (<code>Quantity</code>) ‚Äî –Ω–∞–π–≤–∏—â–∏–π –¥–ª—è —è–∫–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π?</h1>
<hr></hr>

In [9]:
supermarket_sales_dataset['Upsell Rate'] = supermarket_sales_dataset['Tax 5%'] / supermarket_sales_dataset['Quantity']
upsell_by_category = supermarket_sales_dataset.groupby('Product line')['Upsell Rate'].mean().sort_values(ascending=False).reset_index()

upsell_by_category.head(3)

          Product line  Upsell Rate
0  Fashion accessories     2.857683
1    Sports and travel     2.849663
2   Food and beverages     2.800443

<p style='font-family: Garamond ; font-size: 18px;'>–ù–∞–π–≤–∏—â–∏–π <b>–ø–æ–¥–∞—Ç–æ–∫ –Ω–∞ –æ–¥–∏–Ω–∏—Ü—é</b> ‚Äî —Å–≤–æ—î—Ä—ñ–¥–Ω–∏–π —ñ–Ω–¥–∏–∫–∞—Ç–æ—Ä —Ç–æ–≥–æ, —â–æ —Ü—ñ —Ç–æ–≤–∞—Ä–∏ –∞–±–æ –¥–æ—Ä–æ–∂—á—ñ, –∞–±–æ –∑ –≤–∏—Å–æ–∫–æ—é –º–∞—Ä–∂–æ—é, —ñ —ó—Ö –≤–∏–≥—ñ–¥–Ω–æ –±—É–ª–æ –± –¥–æ–¥–∞—Ç–∏ —É bundle –¥–æ –æ—Å–Ω–æ–≤–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π. –ö—Ä—ñ–º —Ç–æ–≥–æ, –º–∏ –ø—Ä–æ—Å–ª—ñ–¥–∫–æ–≤—É—î–º–æ —Ñ–∞–∫—Ç —Ç–æ–≥–æ, —â–æ —Ç–æ–ø-3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –¥–æ—Å–∏—Ç—å –∫–æ–º–±—ñ–Ω–∞—Ç–∏–≤–Ω—ñ –¥–ª—è —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π (–º–µ–Ω—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏—Ö), –∞–±–∏ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—é –≤–∞—Ä—Ç—ñ—Å—Ç—å —á–µ–∫—É.</p>

<ul style='font-family: Garamond ; font-size: 18px;'><b>–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó</b>:
    <li>–í–∞—Ä—Ç—ñ—Å—Ç—å –∞–ø—Å–µ–π–ª—É –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Å—Ç—Ä–∞—Ç–µ–≥—ñ–π <b>upsell/cross-sell</b>.</li>
    <li>–ù–∞–π–≤–∏—â–∏–π –ø–æ–∫–∞–∑–Ω–∏–∫ —É <code>Fashion accessories</code> ‚Äî —ñ–¥–µ–∞–ª—å–Ω–∏–π –∫–∞–Ω–¥–∏–¥–∞—Ç –¥–ª—è –∞–∫—Å–µ—Å—É–∞—Ä—ñ–≤ –¥–æ –¥–æ—Ä–æ–≥–∏—Ö –æ—Å–Ω–æ–≤–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤.</li>
</ul>

<h1 style='font-family: Garamond ;'><u>–ì—ñ–ø–æ—Ç–µ–∑–∞ 3</u>: –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –º–∞—é—Ç—å –Ω–∞–π–≤–∏—â—É –∫–æ–Ω–≤–µ—Ä—Å—ñ—é –≤ –ø—Ä–∏–±—É—Ç–æ–∫: Gross Margin % √ó Volume (–∫—ñ–ª—å–∫—ñ—Å—Ç—å)?</h1>
<hr></hr>

In [11]:
supermarket_sales_dataset['Margin Volume'] = supermarket_sales_dataset['gross margin percentage'] * supermarket_sales_dataset['Quantity']
margin_volume_by_category = supermarket_sales_dataset.groupby('Product line')['Margin Volume'].sum().sort_values(ascending=False).reset_index()
margin_volume_by_category

             Product line  Margin Volume
0  Electronic accessories    4623.809524
1      Food and beverages    4533.333333
2       Sports and travel    4380.952381
3      Home and lifestyle    4338.095238
4     Fashion accessories    4295.238095
5       Health and beauty    4066.666667

<p style='font-family: Garamond ; font-size: 18px;'>–¶–µ –ø–æ—î–¥–Ω–∞–Ω–Ω—è –º–∞—Ä–∂–∏–Ω–∞–ª—å–Ω–æ—Å—Ç—ñ —Ç–∞ –æ–±‚Äô—î–º—É –ø—Ä–æ–¥–∞–∂—ñ–≤ ‚Äî –∫–ª—é—á–æ–≤–∏–π –ø–æ–∫–∞–∑–Ω–∏–∫ –µ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó. –¢–æ–ø–æ–≤—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤–∞—Ä—Ç–æ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —á–µ—Ä–µ–∑ –º–∞—Å–æ–≤—ñ –∞–∫—Ü—ñ—ó (—Å–µ–∑–æ–Ω–Ω—ñ (—è–∫—â–æ –º–æ–≤–∞ –π–¥–µ –ø—Ä–æ <code>Electronic accessories</code>, —Ç–æ –≤–∑–∏–º–∫—É –º–æ–∂–Ω–∞ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ –æ–±—ñ–≥—Ä—ñ–≤–∞—á—ñ, –Ω–∞–≤–µ—Å–Ω—ñ - —Ä–æ–∑—É–º–Ω—ñ –≥–æ–¥–∏–Ω–Ω–∏–∫–∏ —Ç–∞ —Ñ—ñ—Ç–Ω–µ—Å-–±—Ä–∞—Å–ª–µ—Ç–∏(–ø–æ—á–∞—Ç–æ–∫ –∞–∫—Ç–∏–≤–Ω–æ–≥–æ –ø–µ—Ä—ñ–æ–¥—É —Å–ø–æ—Ä—Ç—É –ø—Ä–æ—Å—Ç–æ–Ω–µ–±–∞ - –±—ñ–≥, —Ñ—ñ—Ç–Ω–µ—Å, –π–æ–≥–∞ –Ω–∞ —É–∑–±–µ—Ä–µ–∂–∂—ñ —Ç–∞ –≤–ø–∞—Ä–∫—É), —É–ª—ñ—Ç–∫—É - –∫–æ–Ω–¥–∏—Ü—ñ–æ–Ω–µ—Ä–∏ —Ç–∞ –≤–µ–Ω—Ç–∏–ª—è—Ç–æ—Ä–∏, –≤–æ—Å–µ–Ω–∏ - –µ–ª–µ–∫—Ç—Ä–æ–∫–æ–≤–¥—Ä–∏, –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∫–∞–º—ñ–Ω–∏, –∫–∞–≤–æ–≤–∞—Ä–∫–∏ —Ç–æ—â–æ)) ‚Äî –≤–æ–Ω–∏ —Ç—è–≥–Ω—É—Ç—å –∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫. –£ –ø–ª–∞–Ω—ñ —Ä–æ–∑—Ä–æ–±–∫–∏ –∞–∫—Ü—ñ–π –¥–æ–¥–∞—Ç–∫–æ–≤–æ –º–æ–∂–Ω–∞ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —Ä–æ–∑–ø–æ–¥—ñ–ª –ø—Ä–∏–±—É—Ç–∫—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ —Ä–æ–∑–ø–æ–¥—ñ–ª—É –∑–∞ –º—ñ—Å—è—Ü—è–º–∏.</p>